*{
  box-sizing: content-box;
}
h2,h3,h4{
  font-size: 30px;
  padding:5px;
  margin:5px;
  }
  .logo{
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 90px;
    margin-left: 100px;
    color:orangered;
    }
.label{
  padding: 20px;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 20px;
  line-height: 1;
}
.section {
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  border: 0.5px solid rgb(0, 0, 0);
  background-color: lightcyan;
}
body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background-color: rgb(238, 238, 238);
}
.section__image {
  border-radius: 10px;
  height: 500px;
  width:550px;
  box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.section__image__avatar {
  border-radius: 200px;
  height: 200px;
  width:200px;
  border: 5px solid black;
}
.section__image__avatar__mini {
  border-radius: 60px;
  height: 60px;
  width:60px;
  border: 3px solid black;
}
.section__div__avatar {
  display:inline-block;
  box-shadow: 0 0 5px;
  height: 325px;
  width:225px;
}

.avatar__choose{
  transform:scale(1.8);
}
.avatar__choose:hover {
  transform:scale(1.9);
  cursor: pointer;
}
.section__title {
  margin-top: 0;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group__label {
  display: block;
  margin-bottom: 3px;
}

.form-group__input {
  padding: 7px;
}

.form-button {
  color: white;
  padding: 7px;
  background-color: blue;
}

.form-button:hover {
  cursor: pointer;
}

input:invalid:required {
  border: 2px solid red;
}

input:valid:required {
  border: 2px solid green;
}

.navigation li{
  display: inline-block;
  margin-right: 30px;
  font-size: 30px;
}
li:hover{
  box-shadow: 0 0 2px 1px black;
  background-color:#dddddd;
}


.navigation{
  background-color: white;
  display: block;
  position: sticky;
  top: 0px;
  box-shadow: 0 0 5px;
 
}
.footer{
  background-color: rgb(83, 79, 79);
  display: block;
  box-shadow: 0 0 5px;
  color: white;
  margin:3px;
  padding:3px;
}

a {
  text-decoration: none; /* Убираем подчёркивание */
 }

.authentication__error{
  color:red;
  font-size: large;
}